<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="nlog-internal.log">

	<targets>

		<target name="database" xsi:type="Database">
			<connectionString>${configsettings:name=ConnectionString.LoggingDataBase}</connectionString>

			<commandText>
				INSERT INTO dbo.selfProjectLoggingTable
				(MachineName,Logged,Level,
				Message,Logger,Callsite,Exception)

				VALUES (@MachineName,@Logged,@Level,
				@Message,@Logger,@Callsite,@Exception
				);
			</commandText>
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
	</targets>
	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Debug" writeTo="database" />
		<!--<logger name="*" minlevel="Error" writeTo="mail" />-->
	</rules>
</nlog>


<!--
          Script for creating the dbo.selfProjectLoggingTable table.
              
          SET ANSI_NULLS ON
          SET QUOTED_IDENTIFIER ON
          CREATE TABLE [dbo].[selfProjectLoggingTable] (
	          [Id] [int] IDENTITY(1,1) NOT NULL,
	          [Logged] [datetime] NOT NULL,
	          [Level] [nvarchar](50) NOT NULL,
	          [Message] [nvarchar](max) NOT NULL,
	          [Logger] [nvarchar](250) NULL,
	          [Callsite] [nvarchar](max) NULL,
	          [Exception] [nvarchar](max) NULL,
	          [MachineName] [nvarchar](50) NOT NULL,
            CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
              WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
          ) ON [PRIMARY]
-->